<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class="TableHeader" colspan="3">
			<div class="buttons" style="float: right;">
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Gid</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(gid)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Gnama</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="gnama" id="gnama" value="<%%VALUE(gnama)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Gnokp</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="gnokp" id="gnokp" value="<%%VALUE(gnokp)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Gpass</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="gpass" id="gpass" value="<%%VALUE(gpass)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Glevel</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="glevel" id="glevel" value="<%%VALUE(glevel)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Gjawatan</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="gjawatan" id="gjawatan" value="<%%VALUE(gjawatan)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Gpersatuan</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="gpersatuan" id="gpersatuan" value="<%%VALUE(gpersatuan)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>

	<script>
		if(document.getElementsByName('gnama').length){
			document.getElementsByName('gnama')[0].focus();
		}
		document.observe("dom:loaded", function() {
			var formAlreadyChanged=0;
			$$('form')[0].observe('change', function(){ if(formAlreadyChanged) return; $('deselect').highlight().lastChild.data = " <%%TRANSLATION(Cancel)%%>"; formAlreadyChanged=1; });
		});

	</script>