<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="guru-gnama-<%%VALUE(gid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(gnama)%%></div></td>
		<td id="guru-gnokp-<%%VALUE(gid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(gnokp)%%></div></td>
		<td id="guru-gpass-<%%VALUE(gid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(gpass)%%></div></td>
		<td id="guru-glevel-<%%VALUE(gid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(glevel)%%></div></td>
		<td id="guru-gjawatan-<%%VALUE(gid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(gjawatan)%%></div></td>
		<td id="guru-gpersatuan-<%%VALUE(gid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(gpersatuan)%%></div></td>
