<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'maklumat_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="maklumat-mnama-<%%VALUE(mid)%%>" valign="top" class="maklumat-mnama TableBody"><%%SELECT%%><%%VALUE(mnama)%%><%%ENDSELECT%%></td>
		<td id="maklumat-mtarikh-<%%VALUE(mid)%%>" valign="top" class="maklumat-mtarikh TableBody"><%%SELECT%%><%%VALUE(mtarikh)%%><%%ENDSELECT%%></td>
		<td id="maklumat-mpengerusi-<%%VALUE(mid)%%>" valign="top" class="maklumat-mpengerusi TableBody"><%%SELECT%%><%%VALUE(mpengerusi)%%><%%ENDSELECT%%></td>
		<td id="maklumat-mnaib-<%%VALUE(mid)%%>" valign="top" class="maklumat-mnaib TableBody"><%%SELECT%%><%%VALUE(mnaib)%%><%%ENDSELECT%%></td>
		<td id="maklumat-msu-<%%VALUE(mid)%%>" valign="top" class="maklumat-msu TableBody"><%%SELECT%%><%%VALUE(msu)%%><%%ENDSELECT%%></td>
		<td id="maklumat-mguru-<%%VALUE(mid)%%>" valign="top" class="maklumat-mguru TableBody"><%%SELECT%%><%%VALUE(mguru)%%><%%ENDSELECT%%></td>
		<td id="maklumat-mmaklumat-<%%VALUE(mid)%%>" valign="top" class="maklumat-mmaklumat TableBody"><%%SELECT%%><%%VALUE(mmaklumat)%%><%%ENDSELECT%%></td>
