<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="maklumat-mnama-<%%VALUE(mid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(mnama)%%></div></td>
		<td id="maklumat-mtarikh-<%%VALUE(mid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(mtarikh)%%></div></td>
		<td id="maklumat-mpengerusi-<%%VALUE(mid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(mpengerusi)%%></div></td>
		<td id="maklumat-mnaib-<%%VALUE(mid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(mnaib)%%></div></td>
		<td id="maklumat-msu-<%%VALUE(mid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(msu)%%></div></td>
		<td id="maklumat-mguru-<%%VALUE(mid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(mguru)%%></div></td>
		<td id="maklumat-mmaklumat-<%%VALUE(mid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(mmaklumat)%%></div></td>
