<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="pentadbir-pnama-<%%VALUE(pid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(pnama)%%></div></td>
		<td id="pentadbir-pnokp-<%%VALUE(pid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(pnokp)%%></div></td>
		<td id="pentadbir-ppass-<%%VALUE(pid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(ppass)%%></div></td>
		<td id="pentadbir-plevel-<%%VALUE(pid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(plevel)%%></div></td>
		<td id="pentadbir-pjawatan-<%%VALUE(pid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(pjawatan)%%></div></td>
		<td id="pentadbir-pemel-<%%VALUE(pid)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(pemel)%%></div></td>
