<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class="TableHeader" colspan="3">
			<div class="buttons" style="float: right;">
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Pid</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(pid)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Pnama</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="pnama" id="pnama" value="<%%VALUE(pnama)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Pnokp</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="pnokp" id="pnokp" value="<%%VALUE(pnokp)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Ppass</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="ppass" id="ppass" value="<%%VALUE(ppass)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Plevel</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="plevel" id="plevel" value="<%%VALUE(plevel)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Pjawatan</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="pjawatan" id="pjawatan" value="<%%VALUE(pjawatan)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Pemel</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input tabindex="1" maxlength="40" size="40" type="text" class="TextBox" name="pemel" id="pemel" value="<%%VALUE(pemel)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>

	<script>
		if(document.getElementsByName('pnama').length){
			document.getElementsByName('pnama')[0].focus();
		}
		document.observe("dom:loaded", function() {
			var formAlreadyChanged=0;
			$$('form')[0].observe('change', function(){ if(formAlreadyChanged) return; $('deselect').highlight().lastChild.data = " <%%TRANSLATION(Cancel)%%>"; formAlreadyChanged=1; });
		});

	</script>