<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="user-nama-<%%VALUE(id)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nama)%%></div></td>
		<td id="user-nokp-<%%VALUE(id)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nokp)%%></div></td>
		<td id="user-pass-<%%VALUE(id)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(pass)%%></div></td>
		<td id="user-level-<%%VALUE(id)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(level)%%></div></td>
		<td id="user-type-<%%VALUE(id)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(type)%%></div></td>
